extends ../layout.pug
block content
    //- Search Bar
    div(class='w-full max-w-4xl mb-4')
      input(type='text', placeholder='Search categories...' class='w-full p-2 border border-gray-300 rounded')
    //- Create Category Button
    div(class='w-full max-w-4xl flex justify-end mb-4')
      a(href='/categories/create' class='bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600')
        | Create New Category

    //- Check if there are categories
    if categories.length > 0
      //- Categories Table
      table(class='w-full max-w-4xl bg-white shadow-md rounded-lg overflow-hidden')
        thead(class='bg-gray-800 text-white')
          tr
            th(class='p-4 text-left') Image
            th(class='p-4 text-left') Title
            th(class='p-4 text-left') Description
            th(class='p-4 text-left') Actions

        tbody
          each category, index in categories
            tr(class=(index % 2 === 0 ? 'bg-gray-100' : 'bg-white'))
              td(class='p-4')
                img(src=category.image alt=category.title class='w-12 h-12 object-cover rounded-lg')
              td(class='p-4')= category.title
              td(class='p-4')= category.description
              td(class='p-4')
                a(href=`/categories/${category.id}` class='text-green-500 hover:text-green-600 mr-2') View
                a(href=`/categories/${category.id}/update` class='text-yellow-500 hover:text-yellow-600 mr-2') Update
                a(href=`/categories/${category.id}/delete` class='text-red-500 hover:text-red-600') Delete
    else
      //- No Categories Warning
      div(class='w-full max-w-4xl bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative')
        strong(class='font-bold') Warning!
        span(class='block sm:inline') No categories found. Please add some categories.
